*,*:after, *:before{
	box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font: 'Georgia';
    background-color: #D7D7D7;
}
ul{
    list-style-type: none;
    padding: 0;
}
.container{
    margin: 0 7%;
    display: flex;
    flex-wrap: wrap;
}
.page-header .container{
    justify-content: space-between;
    align-items: center;
}
.header-title{
    color: #0095A2;
    font-size: 25px;
}
.header-search{
    width: 200px;
    height: 20px;
}
.nav-menu{
    background-color: #404040;
    width: 100%;
}
.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav-item{
    height: 55px;
    width: 150px;
}
.nav-link{
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.nav-link:hover{
    border: 1px solid silver;
    border-top-width: 0;
    border-bottom-width: 0;
}
section{
    margin-top: 35px;
    background-color: #F6F6F6;
    width: 100%;
}
.main-5-day{
    padding-bottom: 10px;
}
.section-5-day-forecast{
}
.weekly-forecast-list{
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
    margin: 0;
}
.weekly-forecast-list :last-child {
    border-right: none;
}
.weekly-forecast-list__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 1% 15px 2%;
    border-right: 2px solid #dbdbdb;
    width: 20%;
}
.item-title{
    color: #0095A2;
    font-size: 18px;
    margin: 0 0 15px 0;
}
.item-month{
    font-size: 16px;
    color: #5e5757;
    letter-spacing: 1px;
}
.item-img{
    height: 150px;
    width: 75%;
    padding: 10px;
}
.item-degrees{
    font-size: 25px;
    color: #181818;
    margin-bottom: 5px;
}
.item-precipitation{
    font-size: 15px;
    color: #313131;
}
.hourly-weather{
    padding: 25px 35px;
    font-size: 18px;
}
.hourly-weather-title{
    color: #0095A2;
    font-size: 20px;
    margin: 0 0 15px 0;
}
.hourly-weather-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2%;
}
.hourly-weather-list-item{
}
.hourly-weather-list-titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #4a4949;
}
.hourly-weather-list-titles__item{
    margin-bottom: 25px;
}
.hourly-weather-list-titles :first-child {
    font-weight: bold;
}
.hourly-weather-list-titles__item-img{
    display: block;
    height: 60px;
    width: 60px;
    margin-bottom: 25px;
}
.hourly-weather-list-values{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hourly-weather-list-values__item{
    margin-bottom: 25px;
}
.hourly-weather-list-values__item-img{
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
}
.hourly-weather-list-titles :last-child {
    margin-bottom: 0;
}
.hourly-weather-list-values :last-child {
    margin-bottom: 0;
}