*,*:after, *:before{
	box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font: 'Georgia';
    background-color: #D7D7D7;
}
ul{
    list-style-type: none;
    padding: 0;
}
.container{
    margin: 0 7%;
    display: flex;
    flex-wrap: wrap;
}
.page-header .container{
    justify-content: space-between;
    align-items: center;
}
.header-title{
    color: #0095A2;
    font-size: 25px;
}
.header-search{
    width: 200px;
    height: 20px;
}
.nav-menu{
    background-color: #404040;
    width: 100%;
}
.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.nav-item{
    height: 55px;
    width: 150px;
}
.nav-link{
    font-size: 18px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.nav-link:hover{
    border: 1px solid silver;
    border-top-width: 0;
    border-bottom-width: 0;
}
section{
    margin-top: 35px;
    background-color: #F6F6F6;
    width: 100%;
}
.current-weather{
    padding: 0 3% 0 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
}
.current-weather-title{
    color: #00B0D1;
}
.current-weather-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.current-weather-date{
    color: #00B0D1;
    font-size: 20px;
    font-weight: bold;
}
.current-weather-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.current-weather-image-with-text{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.current-weather-icon{
    height: 80px;
    width: 80px;
}
.current-weather-text-under-icon{
    font-size: 25px;
    color: #4a4949;
}
.current-weather-degrees{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.current-weather-temperature{
    font-size: 35px;
    font-weight: bold;
    color: #292929;
}
.temperature-feel{
    font-size: 20px;
    color: #4a4949;
}
.current-weather-detailed{
    width: 20%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5%;
    height: 100%;
    justify-content: space-evenly;
}
.current-weather-detailed li{
    width: 100%;
    font-size: 20px;
}
.current-weather-detailed li div{
    display: flex;
    justify-content: space-between;
    color: #262525;
}
.hourly-weather{
    padding: 25px 3%;
    font-size: 18px;
}
.hourly-weather-title{
    color: #0095A2;
    font-size: 20px;
    margin: 0 0 15px 0;
}
.hourly-weather-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2%;
}
.hourly-weather-list-titles{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #4a4949;
}
.hourly-weather-list-titles__item{
    margin-bottom: 25px;
}
.hourly-weather-list-titles :first-child {
    font-weight: bold;
}
.hourly-weather-list-titles__item-img{
    display: block;
    height: 60px;
    width: 60px;
    margin-bottom: 25px;
}
.hourly-weather-list-values{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hourly-weather-list-values__item{
    margin-bottom: 25px;
}
.hourly-weather-list-values__item-img{
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
}
.hourly-weather-list-titles :last-child {
    margin-bottom: 0;
}
.hourly-weather-list-values :last-child {
    margin-bottom: 0;
}

.nearby-places{
    padding: 15px 3%;
}
.nearby-places-title{
    color: #00A0BD;
}
.nearby-places-cities{
    width: 100%;
    padding-left: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 20px;
}
.nearby-places-city{
    width: 48%;
    background-color: #EDEDED;
    margin-bottom: 14px;
    display: flex;
    height: 40px;
    padding: 0 2%;
    justify-content: space-between;
}
.name-of-city{
    margin-top: 2%;
    margin-right: auto;
}
.nearby-places-city__img{
    width: 10%;
    height: 100%;
    margin-right: 10%;
}
.nearby-places-city__degrees{
    margin-top: 2%;
}

.main-today {
    padding-bottom: 20px;
}